@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@font-face {
    font-family: 'HsSantoki20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	background-color: #101010; 
	color: #ffffff;
	display: flex;
	justify-content: center;
}

/* 언어별 폰트 설정 */
body.lang-ko {
    font-family: 'HsSantoki20', sans-serif;
}

body.lang-en {
    font-family: 'HsSantoki20', sans-serif;
}

body.lang-ja {
    font-family: "Kosugi Maru", sans-serif;
}

body.lang-cc {
    font-family: "Kosugi Maru", sans-serif;
}

/* 중앙 영역 */
.container {
    font-size: clamp(0.6rem, vw, 1rem);
    width: clamp(480px, 62.5%, 1920px);
    max-width: 1080px;
    margin: 0 auto;
    background-color: #202020;
    padding: 40px;
    line-height: 1.5;
}

/* 섹션 구분 */
section {
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap
}

h1 {
    font-size: clamp(1.8rem, 6vw, 3rem);
	margin: 10px;
	color: #ffffff;
}

h2 {
    font-family: 'HsSantoki20', sans-serif;
    font-size: clamp(1.2rem, 4vw, 2rem);
	border-bottom: 2px solid #303030;
	padding-bottom: 10px;
	margin: 10px;
	color: #eabf8c;
}

h3 {
    font-size: clamp(0.9rem, 3vw, 1.5rem);
	margin-top: 0;
  	margin-bottom: 5px;
	color: #eabf8c;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px;
    outline: 6px solid #3A7541; 
    outline-offset: 6px;
}

.site-card {
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 40px;
	align-items: center;
	justify-content: center;
    cursor: pointer;
    margin: 10px;
    background-color: #303030;
}

/* 아이콘 스타일 */
.site-icon {
    width: 120px;
    height: 120px;
    border-radius: 40px;
    display: block;
}

/* 텍스트 스타일 */
.site-text {
    display: none;
    color: white;
	padding: 20px;
}

/* 마우스 호버 시 상태 */
.site-card:hover .site-icon {
    display: none;
}

.site-card:hover .site-text {
    display: block;
}
/* 스크롤바 */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #101010;
}
::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #444;
}

/* 속성 */
.details {
	height: fit-content;
	width: fit-content;
	background: #303030;
	border-radius: 40px;
	margin: 10px;
	padding: 20px;
}

.emoji {
	height: 1em; 
	width: auto;
	vertical-align: middle;
	margin-bottom: 0.15em; 
	display: inline-block;
}

.color {
	width: 1em;
	height: 1em;
	border-radius: 0.2em;
	margin-bottom: 0.15em; 
	vertical-align: middle;
	display: inline-block;
}

a {
	text-decoration: none;
}

/* 언어 선택 컨테이너 */
.lang-selector {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 10px;
}

/* 기본 버튼 스타일 */
.lang-btn {
    font-family: 'HsSantoki20', "Kosugi Maru", sans-serif;
    background-color: #303030;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.lang-btn:hover {
    background-color: #404040;
}

.lang-btn.active {
    background-color: #eabf8c;
    color: #202020;
    font-weight: bold;
}